.SubmitButton_control {
    display:flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 3em;
}

.SubmitButton_control button {
    padding: .7em;
    border-radius: 3em;
    border: none;
    font-weight: bold;
    background-color: #7b7b7b42;
}

.SubmitButton_control:hover {
    background-color: #1efd00;
    transition: 1s;
}