.SubmitButton {
    background-color: #222;
    border-radius: 3em;
    font-weight: bold;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
  }
  
  .SubmitButton:hover {
    background-color: #139e01;
  }



