/* Estilos padrão */
.footer {
    background-color: #222;
    color: #FFF;
    padding: 1.5em;
    text-align: center;
}

.socialList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 1em;
}

.socialList li {
    margin: 0 1em;
}

.socialList li:hover {
    color: #FFBB33;
}

.socialList svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right span {
    font-weight: bold;
    color: #FFBB33;
}

/* Estilos para telas menores, por exemplo, abaixo de 768px */
@media screen and (max-width: 768px) {
    .footer {
        padding: 1em; /* Reduzir o padding para economizar espaço em telas menores */
    }

    .socialList li {
        margin: 0.5em 0.8em; /* Aumentar a margem entre os itens da lista */
    }

    .socialList svg {
        font-size: 1.2em; /* Reduzir o tamanho dos ícones */
    }
}
