.project_container {
    padding: 2rem;
    padding-bottom: 30%;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .project_container {
        width: 360px;
        padding: 1rem;
        padding-bottom: 15%;
    }

    .project_container h1 {
        font-size: 2em;
        
    }

}